.page-wrapper {
  background: #222733;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 8) 0%,
    rgb(122, 159, 233) 35%,
    rgb(6, 8, 36) 100%
  );
  min-height: 100vh;
}

.main-about-content {
  max-width: 1200px;
  min-height: 100vh;
  background: black;
  margin: 0 auto !important;
  display: flex;
  flex-direction: column;
  padding-top: 5em;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  margin-top: 2em;
}

.tech-skills {
  align-items: center;
  padding: 4px;
  margin-bottom: 2em;
  align-items: center;
  vertical-align: center;
  flex-wrap: wrap;
  text-align: center;
}
.tech-skills p {
  font-size: 0.9em;
  font-weight: 400;
}

.main-content .bio-heading h1 {
  width: 50%;
  margin: 1em auto;
}
.highlight {
  color: #2160a0;
  font-weight: bold;
}
.title {
  border-bottom: #2160a0 solid 2px;
  margin: 1em auto !important;
}
title p {
  border-bottom: #2160a0 solid 2px;
  margin: 0;
  line-height: 1.7;
}
.about {
  animation: fade-in 1s ease-in;
}
.about h2 {
  font-weight: 500;
  text-align: center;
  color: grey;
  font-size: 1.3rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
