.page-wrapper{
    background: #222733;
    background: linear-gradient(180deg, rgb(0, 0, 8) 0%, rgb(122, 159, 233) 35%, rgb(6, 8, 36) 100%);
}


.navbar {
    width: 100%;
    background-color:#222733;
    padding: 0 !important;
    margin:0 !important;
    position: fixed;
}
.navbar-content{
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}
.navbar-content h3 {
    font-size: 1.5em;
    color: white;
    width: 20%;
    text-align: center;
}
.navbar-content ul {
    margin: 0 !important;
    width: 80%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: flex-end !important;
}
.navbar-content ul li {
    display: inline;
    padding: 15px;
    font-size: 1em;
    color: #fefefe !important;
    cursor: pointer;
   
}

 a{
    text-decoration: none;
    color: #fefefe;
}

.navbar ul li:hover {
    background: grey;
}
.main-content{
  max-width: 1200px;
  margin: 0 auto !important;
  padding-top: 4em !important;
  background-color: #fefefe;
  display:flex;
}

.main-content-2{
    max-width: 1200px;
    margin: 0 auto !important;
    padding-top: 4em !important;
    background-color: #fefefe;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .projects-row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

.main-content .bio-heading {
    text-align: center;
    animation: transitionIn 1.4s;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex:0.4;
}
.bio-name {
    font-size: 1.9em;
    margin-bottom: 0;
}
.bio-headline {
    color:rgba(0,0,0,.54);
    font-weight: normal;
    margin: 1em;
}
.bio-position {
    font-size: 1.6em;
    color: #2160a0;
    margin:0;
}
.main-content .bio-details {
    text-align: center;
    animation: transitionIn 1.4s;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    flex:0.6;
    padding-top: 3em;
}


.tech{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    widows: 50%;
}

.tech-skills {
    align-items: center;
    padding: 4px;
    align-items: center;
    vertical-align: center;
    flex-wrap: wrap;
}
.tech-skills p {
    font-size: 0.9em;
    font-weight: 400;

}
.main-content .bio-heading .profile-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;  
    margin-top: 4em;
}

.main-content .bio-heading .profile-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;  
}

.main-content .bio-heading h1{
    width : 50%;
    margin: 1em auto;
   
}
.highlight {
    color: #2160a0;
    font-weight: bold;
}
.title {
    border-bottom: #2160a0 solid 2px;
    margin: 1em auto !important;
}
title p{
    border-bottom: #2160a0 solid 2px;
    margin: 0;
    line-height: 1.7;
}

.btn {
    padding: 10px;
    color: #fefefe;
    background-color: #2160a0;
    border-radius: 10px;
    width: 30%;
    font-size: 1.2em;
    cursor: pointer;
    animation: transitionHeader 2s;
    margin-top: 1em;
}
.btn:hover {
    background-color: #222733;
}

#work {
    max-width: 1200px;
    margin: 0 auto !important;
    min-height: 100vh;
    max-width: 1200px;
  }
  
.card {
    padding: 20px;
    width : 300px;
    margin: 0 auto ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    cursor: pointer;
}
.card h3 {
   color: #222733 !important;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding-bottom: 40px;
}
.card img {
 width: 100%;

}
.card img :hover{
 background-color: #2160a0;
}

.contactimg {
    width: 50px;
    padding: 10px;
    cursor: pointer;
}

.container-div {
    display: flex !important;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    .main-content{
        flex-direction: column;
    }
    
    .main-content .bio-heading h1{
        width : 80% !important;
        margin: 2em auto;
        font-size: 1.2em;
        line-height: 1.5;
       
    }
    .bio-details h1 {
        font-size: 1.4em;
    }
    
    .btn {
        width: 70%;
    }
    
    .title  {
        margin-bottom: 2em !important;
    }
    
.navbar-content h3 {
    flex: 0.9;
    font-size: 1.2em;
    padding-left: 6px;
}
  }
  

  @keyframes transitionIn {
     from {
         opacity: 0;
         transform: rotateX(-10deg)
     }

     to {
        opacity: 1;
        transform: rotateX(0deg)
    }


  }

  @keyframes transitionHeader {
    from {
        opacity: 0;
        margin-top: 120px;
       
    }

    to {
       opacity: 1;
       margin-top: 0;
   }


 }

