.page-wrapper{
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas: "sd mc";
}

@media only screen and (min-device-width : 320px) and (max-device-width : 790px) {
    /* Styles */
    .page-wrapper{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "sd "
                             "mc";
    }
    
    }

.main-content{
    grid-area:mc;
}


.highlight{

    color: #1565c0;
}



.btn:hover{
   
   
    color:#ffffff;
    background-color: #252525;
   
}

.project{
    border-top:lightgrey 2px solid;
    border-bottom: lightgray 2px solid;;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "prd pri";
    margin-left: 5%;
    margin-right: 5%;
   
    
}

@media only screen and (min-device-width : 320px) and (max-device-width : 790px) {
    /* Styles */
    .project{
        border-top:lightgrey 2px solid;
        border-bottom: lightgray 2px solid;;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "pri"
                             "prd";
        margin-left: 5%;
        margin-right: 5%;
    }    
    
    .company-pic{
        width:150px;
        
    }
    }

.company-img{
  
   
    grid-area: pri;
    margin :4% auto;
}

.company-pic{
  min-width: 100px;
  max-width: 250px;
  margin-top: 2%;
}

.project-headings{
    font-weight: 400;
    font-size: 2em;

}



.project-description p {
    font-size: 1.3em;
    font-weight: 400;
    grid-area: prd;
}


.dates{
    font-size: 0.7em;
    font-weight: 300;
}
.duties-list li{
    padding-bottom: 4%;
}