body {
  margin: 0;
  font-family: inter;
  color: white;
  background-color: black !important;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
