.side-bar{
    grid-area:sd;
    background-color: #1565c0;
    height: 100vh;
    color: white;
    text-align: center;
    padding-top: 5%;
    position: fixed;
    top:0;
    left:0;
    width:20%;
    

}
@media only screen and (min-device-width : 320px) and (max-device-width : 790px) {
    .side-bar{
        display: none ;
    }
    }

.side-bar ul{
    margin-top: 10%;
}

.side-bar ul a{
    text-decoration: none;
    color:#ffffff
}

.side-bar ul a li{
    list-style: none;
    font-size: 2em;
    padding-bottom: 6%;
    padding-top: 6%;
}
.side-bar ul a li:hover{
    color:#252525;
    /*background-color: #252525;*/
    padding-right: 10%;

}

.active{
    color:#ffffff;
    background-color: #252525;
    padding-right: 10%;
}
.active:hover{
    color:#ffffff !important;
}
.main-content{
    grid-area:mc;
}


.highlight{

    color: #1565c0;
}



    
.btn:hover{
   
   
    color:#ffffff;
    background-color: #252525;
   
}